<nav class="navbar navbar-expand-md fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link pt-1" href="/"><img style="height: 2rem;" src="/img/slate.svg"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#episodes">Episodes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#hosts">Hosts</a>
        </li>
      </ul>
      <span class="nav-text">
        <a class="btn btn-primary" href="/#subscribe">Subscribe</a>
      </span>
    </div>
  </div>
</nav>