<head>
  {% include ga.html %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  
  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% seo %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  
  <!-- bower:css -->
  <!-- endbower -->

  <link rel="stylesheet" href="{{ site.baseurl }}/css/fontawesome/fontawesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/fontawesome/brands.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/fontawesome/solid.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/fonts.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.min.css">
  
  <!-- Icons -->
  <link href="{{ site.baseurl }}/img/favicon.ico" rel="shortcut icon">

</head>
