// Components

body {
//   background-color: #112;
//   color: #fff;
}

h2, h3 {
  text-transform: uppercase;
}

.logo {
  padding: 4rem;
}

@media (min-width: 992px) {
  .logo {
    padding: 10rem;
  }
}

.title {
  margin-bottom: auto;
  margin-top: auto;
}
