// Components

body {
  background-color: #112;
  background-image: url(../img/bg.svg);
  background-repeat: repeat-y;
  color: #fff;
}

h1 {
  color: #3E6F72;
}

h2 {
  color: #3E6F72;
  text-transform: uppercase;
}

h3 {
  color: #3E6F72;
}

.img-tile img {
  padding-bottom: 2rem;
}

.logo {
  // padding: 4rem;
  background-image: url(../img/logo-bg.svg);
  background-position: center;
  background-size: 100%;
  padding: 5rem;
}

@media (min-width: 992px) {
  .logo {
    padding: 10rem;
  }
}

.navbar {
  background-color: white;
}

.title {
  // margin-bottom: auto;
  // margin-top: auto;
  // text-align: center;
}

.section-title, {
  font-size: 18vw;
  text-align: center;
}
