---
layout: default
---
{% include header.html %}
<div class="container mt-5">
  <div class="header">
    <div class="row">
      <div class="col-sm logo">
        <img class="img-fluid p-4 p-md-5" src="/img/logo.png">
      </div>
      <div class="col-sm title text-center my-auto">
        <h1>{{ site.title }}</h1>
        {{ content }}
      </div>
    </div>
  </div>
  <div id="episodes" class="episodes">
    <div class="row">
      <div class="col">
        <h2 class="section-title">Episodes</h2>
      </div>
    </div>
{% assign episodes = site.posts | sort: "podcastEpisode" %}
{% for episode in episodes %}
    <div class="row">
      <div class="col-sm col-lg-4 img-tile">
        <img class="img-fluid" src="https://placehold.co/480">
      </div>
      <div class="col-sm col-lg-6">
        <h3><span class="small">Ep. {{ episode.podcastEpisode }}</span><br>
        {{ episode.title }}</h3>
        <p>{{ episode.description }}</p>
{% assign episodeDate = episode.date | date: "%Y%m%d" | integer %}
{% assign now = site.time | date: "%Y%m%d" | integer %}
{% if episodeDate <= now %}
        <p><a href="{{ episode.id }}">Listen here</a></p>
{% else %}
        <p><a href="{{ episode.id }}">Coming soon</a></p>
{% endif %}
        
      </div>
    </div>
{% endfor %}
  </div>
  <div id="hosts" class="hosts">
    <div class="row">
      <div class="col">
        <h2 class="section-title">Hosts</h2>
      </div>
    </div>
{% for host in site.data.hosts %}
    <div class="row">
      <div class="col-sm col-lg-4 img-tile">
        <img class="img-fluid" src="https://placehold.co/480">
      </div>
      <div class="col-sm col-lg-6">
        <h3>{{ host.name }}</h3>
        <p>{{ host.description }}</p>
      </div>
    </div>
{% endfor %}
  </div>
</div>